.container.form-section#step_2
  %h4.form-section-title
    STEP #2 : How many rooms

  .form-section-content
    %table.table.table-borderless
      %tr
        %td{style: "border: none"}
          %b NUMBER OF ROOMS :
          = select_tag "nb_rooms", options_for_select(1..30, @nb_rooms)
          = hidden_field_tag :cpt_steps, @cpt_steps
  = submit_tag "NEXT", class: "btn btn-default form-btn", id: "btn-second-step", onclick: "refreshNbRooms()"