.container.form-section#step_5
  %h4.form-section-title
    STEP #5 : Any special demands? (NO PROSTITUTES!)

  .form-section-content
    %table.table.row-reservation-form
      %tr
        %td{style: "border: none"}
          %b DEMANDS :
          = text_area_tag "demands", @demands, placeholder: "...", autocomplete: :off, class: "form-control", id: "demands"