.container.form-section#step_1
  %h4.form-section-title
    STEP #1 : Choose your check-in and check-out dates

  .form-section-content
    %table.table.table-borderless
      %tr
        %td{style: "border: none"}
          %b CHECK-IN :
          = text_field_tag "check_in", @check_in, placeholder: Date.today, required: true, autocomplete: :off
        %td{style: "border: none"}
          %b CHECK-OUT :
          = text_field_tag "check_out", @check_out, placeholder: Date.today + 3.days, required: true, autocomplete: :off
  = submit_tag "NEXT", class: "btn btn-default form-btn", id: "btn-first-step", onclick: "hidebutton()"