.container.form-section#step_4
  %h4.form-section-title
    STEP #4 : Choose your rooms

  - @nb_rooms.times do |i|
    .form-section-content
      %table.table.table-borderless
        %tr
          %td{style: "border: none"}
            %b
              ROOM #
              = (i+1).to_s
          %td{style: "border: none"}
            %b DOOR NUMBER :
            = select_tag "rooms["+i.to_s+"]room", options_for_select(@rooms[i].map{|x| [x.room_no,  x.id]})
            = hidden_field_tag :cpt_steps, @cpt_steps
  = submit_tag "NEXT", class: "btn btn-default form-btn"