%body
  %h1 Reservation
  = form_for(:reservation_form, url: client_reservations_path) do |form|

    %p 
      How many Rooms ? :
      = form.text_field :nb_rooms, size: 3

    - 5.times do |no|
      = render 'client/reservations/room_reservation', form: form, no: no

    %br
    %br
    = form.submit "Create"
