%body
  %h1 Reservation
  = form_for(:my_reservation, url: client_reservations_path) do |form|

    - 1.times do |no|
      = render 'client/reservations/room_reservation', form: form, no: no
    %br
    = link_to "ADD NEW ROOM", new_reservation_path, class: "btn btn-default"

    %br
    %br
    = form.submit "Create"
