%body
  %h1 Reservation
  = form_for(:my_reservation, url: client_reservations_path, remote: true) do |form|

    - @nb_rooms.times do |no|
      = render 'client/reservations/room_reservation', form: form, no: @nb_rooms
    %br
      #test
    = link_to "ADD", new_reservation_path, remote: true, class: "btn btn-default", id: "ajax"
    %br
    %br
    = form.submit "Create", class: "btn btn-default"
