.container.listeElems
  - @views.each do |r|
    .beauCarre
      = r.view_type

.listAddForm
  = form_for(@view, url: gestion_view_types_path, remote: true, id: "newForm") do |f|
    = f.text_field :view_type, placeholder: "View type", required: true
    = f.submit "Add"