.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover

        %h1.cover-heading.titre MOTEL FRANCOIS INN
        - if !user_signed_in?
          %p.lead
            = link_to "Reservation", new_user_registration_path, class: "btn btn-lg btn-success"