.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover

        - if !user_signed_in?
          %h1.cover-heading NAGANO INN
          %p.lead
            = link_to "Reservation", new_user_registration_path, class: "btn btn-lg btn-success"
        - else
          %h1.cover-heading NAGANO INN
          = render "pages_generale/reservation_form"
