.container
  .masthead
    .navbar
      .navbar-inner
        .container
          %ul.nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Projects
            %li
              %a{:href => "#"} Services
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Contact
  .jumbotron
    %h2 NAGANO
    %h1 COMFORT INN
    %a.btn.btn-large.btn-success{:href => "#"} RÉSERVATION

  %hr/
  .footer
    %p © Semiweb 2018